$content-width: 1440px;

$border-radius: 10px;

$received-message: #e0e0e0;
$sended-message: #e1e5ff;

$input-default: #fff;
$input-green: #3d5d52;
$input-blue: #c1dee7;
$input-dark: #2d373e;
$input-default-placeholder: #b5b5b5;
$input-green-placeholder: #cfd8db;
$input-blue-placeholder: #798a8f;
$input-dark-placeholder: #777e81;
$input-default-value: #000;
$input-secondary-value: #fff;

$header-default: #fff;
$header-green: #02291c;
$header-blue: #bdedfd;
$header-dark: #2d373e;

$button-default: #2196f3;
$button-green: #1c5e20;
$button-blue: #00569b;
$button-dark: #465b64;

$send-default: #707070;
