@import "../../styles/variables.scss";

.button {
  min-width: 56px;
  min-height: 56px;
  display: flex;
  align-items: center;
  justify-content: center;
  cursor: pointer;
  border: 1px solid #000;

  &__default {
    border-radius: 50%;

    &-icon {
      // color: $send-default;
    }
  }

  &__default {
  }

  &__green {
    background-color: $input-green;
    border-radius: 50%;
  }

  &__blue {
    background-color: $input-blue;
    border-radius: 50%;
  }

  &__dark {
    background-color: $input-dark;
    border-radius: 50%;
  }
}
