.page {
  display: flex;
  flex-direction: column;
  gap: 20px;
  height: 100vh;
  overflow: hidden;

  &__wrapper {
    display: flex !important;
    flex-direction: column !important;
    gap: 20px !important;
    overflow: auto;
    padding-bottom: 5px;
  }

  &__messages {
    display: flex;
    flex-grow: 1;
    overflow: auto !important;
    flex-direction: column-reverse;
    justify-content: flex-start;
    gap: 10px;
  }

  &__form {
    margin: 0 auto;
  }

  &__delete {
    padding: 15px 20px;
    background-color: rgba(132, 132, 132, 0.7);
    border-radius: 10px;
    color: #fff;
    cursor: pointer;
  }
}

.highlighted {
  border: 1px solid red !important;
}
