@import "../../styles/variables.scss";

.message {
  display: inline-block;
  padding: 10px 30px 10px 10px;
  border-radius: 10px;
  position: relative;

  &__wrapper {
  }

  &__caption {
    font-size: 14px;
    padding-bottom: 5px;
  }

  &__text {
    font-size: 18px;
  }

  &__icon {
    position: absolute;
    top: 5px;
    right: 5px;
    color: red;
  }
}

.rec__default {
  background-color: $received-default !important;
}

.sen__default {
  background-color: $sended-default !important;
}

.rec__green {
  background-color: $received-green !important;
}

.sen__green {
  background-color: $received-green !important;
}

.rec__blue {
  background-color: $received-blue !important;
}

.sen__blue {
  background-color: $received-blue !important;
}

.rec__dark {
  background-color: $received-dark !important;
}

.sen__dark {
  background-color: $received-dark !important;
}
